* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f6f8f4;
  margin: 0;
  padding:0;
}
a{
  cursor: pointer;
}
.custom-container {
  display: grid;
  padding: 0;
  grid-template-columns: 30px auto;
  grid-template-areas: "side main";
  margin: 0;
}
.note-container {
  grid-area: main; 
}
.modal-header {
  background-color: #f6f8f4;
  color: #7e7b7b;
  border-bottom: 0 none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.modal-body{
  color: #7e7b7b;
  background-color: #f6f8f4;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px; 
}
.form-group{
  margin-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
label, option, .sign-up{
  color: #7e7b7b;
  font-family: monospace;
}
.modal-title{ 
  margin-top: 35px;
  font-size: 24px;
  font-weight:700;
  font-family: monospace;
  color: #7e7b7b;
}
button{
  font-family: monospace;
}
#vault-input, .input-group-text, 
#vault-name, #add-user-input {
  color: #7e7b7b;
  font-family: monospace;
}
#vault-name{
  font-size: 16px;
}
/* #add-input-label{
  margin-top: 15px;
} */
#vault-input:focus, #add-user-input:focus,
#vault-name {
  box-shadow: none;
  outline: 0 none;
}
#add-user-input, #add-user-btn{
  height: 31px;
}
a{
  text-decoration:none;
  color: #7e7b7b;
}
.footer-container{
  display: flex;
  align-items: center;
}
#setting-body, #vault-body{
  padding-left: 40px;
  padding-right: 40px; 
}
#vault-body{
  padding-top: 21px;
}
/* .modal{
  background-color: #f6f8f4;
} */
.btn-close{
  font-size: 10px;
}
#setting-dialog, #vault-dialog{
  max-width: 600px;
  min-height: 550px;
}
#sign-in-button, #sign-up-button, 
#leave-button, #save-button {
  color: #f6f8f4;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 8px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7e7b7b;
}
#save-button{
  width: 78px;
  margin-top: 30px
}
#leave-button{
  background-color: rgba(255, 0, 0, 0.774);
}
#sign-up-trigger, #sign-in-trigger{
  padding-left: 9px;
  color:rgb(106, 201, 218);
}
#enter-btn{
  color: #f6f8f4;
  background-color:rgb(106, 201, 218);
  border-radius: 0px 0px;
}
.vault-label{
  font-size: 20px;
}

#user-email-list {
  /* position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px; */
  height: 93px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

li.user-email {
  height: 30px;
  padding: 5px 20px;
  color: #7e7b7b;
  font-family: monospace;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc; 
}
/* li.user-email:last-child {
  border-bottom: none;
} */
li.user-email:nth-child(even) {
  background: #eeeeee;
}
small{
  color: #7e7b7b;
  font-family: monospace;
}
.error-message{
  color: rgba(255, 0, 0, 0.774);
}

#vault-list-modal-body{
  margin: 0;
  padding: 0;
  width: 800px;
  height: 400px;
}
#vault-list-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "side main";
}
#vault-list-header{
  width: 800px;
}
#vault-list-sidebar{
  grid-area: side;
  border-radius: 0px;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background: transparent;
  overflow: auto;
}
.vault-element{
  width: 300px;
  height: 80px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  color: #7e7b7b;
  font-family: monospace;
  font-size: 18px;
  justify-content: space-around;
}
/* .vault-element:nth-child(even){
  background-color: #fff;
} */
#new-vault-section{
  height: 93%;
  display: flex;
  align-items: center;
  padding: 15px;
}
.vault-element.active{
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background-color: rgba(165, 231, 245, 0.322);
  color: #7e7b7b;
}
#vault-input-group{
  width: 100%;
  text-align: center;
}
#outer-input-vault-container{
  text-align: end;
}
#vault-input{
  font-size: 18px;
  width: 150px;
}
#vault-close-btn{
  margin: 10px;
}
#new-vault-section{
  grid-area: main;
}
.vault-created-time{
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .editor-container {
    grid-template-columns: 300px auto;
  }
}
