.sidebar {
  grid-area: side; 
  background-color: #7e7b7b;
  /* border-right: 1px solid #e1e1e1; */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#user-circle, #arrow, #setting, #vault-icon{
  color: #dddcdc;
  font-size: 30px;
  -webkit-text-stroke: 1.7px #7e7b7b;
}
#vault-icon{
  font-size: 28px;
}
#user-circle:hover,#arrow:hover, 
#setting:hover, #vault-icon:hover{
  color: rgb(106, 201, 218);
  cursor: pointer;
}
.clicked {
  color: rgb(106, 201, 218); 
}
.user-circle-span{
  margin-top: 8px;
  display: block;
  margin-bottom: 8px;
}